<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	                   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- Begin:add by Wenlong Meng at 2014/02/23 for user id sequence -->
	<!-- bean id="userIdSequence" class="org.apache.dragon.demo.service.impl.SequenceServiceImpl">
		<constructor-arg value="user.id" />
	</bean>
	<bean id="rankIdSequence" class="org.apache.dragon.demo.service.impl.SequenceServiceImpl">
		<constructor-arg value="rank.id" />
	</bean> -->
	<!-- End:add by Wenlong Meng at 2014/02/23 for user id sequence -->
	
	<!-- datasource -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/dragon" />
        <property name="username" value="dragon" />
        <property name="password" value="mysql" />
        <!--property name="password" value="passw0rd" /-->
    </bean>

</beans>
