<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- * config for log4j 
     * * @author Wenlong Meng(wenlong.meng@gmail.com) 
	 * @version 1.0 at 2013/04/10 
	 * @since 1.0 
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- config for appender -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-5p] [%t] %l - %m%n" />
        </layout>
    </appender>
	<appender name="debugAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fhdragon/ws/logws/logs/framework/debug.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%t] %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="DEBUG" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<appender name="errorAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/fhdragon/ws/logws/logs/framework/error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%t] %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="ERROR" />
			<param name="levelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- config for logger -->
	<logger name="f.h.dragon.framework" additivity="false">
		<level value="debug" />
		<appender-ref ref="debugAppender" />
		<appender-ref ref="errorAppender" />
	</logger>
	
	<root>
	   <appender-ref ref="stdout" />
	</root>

</log4j:configuration>
